* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 黑体;
    background-color: #cccccc;
}

.fix {
    *zoom: 1;
}

.fix:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.main {
    width: 980px;
    height: 1386px;
    margin: 0 auto;
    background-color: #ffffff;
}

.top {
    height: 61px;
    width: 893px;
    margin: 0 auto;
    border-bottom: 2px solid #938e8c;

}

.top_bg {
    width: 110px;
    height: 61px;
    background-color: #d45d5c;
    display: inline-block;
}

.top_bg span {
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    float: left;
    margin-left: 6px;
    margin-top: 45px;
}

.top_time {
    font-size: 12px;
    line-height: 14px;
    color: #d45d5c;
    float: right;
    margin-top: 45px;
}

.middle {
    width: 893px;
    height: 583px;
    margin: 34px auto 0;

}

.m_left {
    float: left;
    position: relative;
}

.m_right {
    float: right;
    position: relative;
    width: 203px;
    height: 300px;
    background-color: #ffffff;

}

.m_right hr {
    height: 2px;
    color: #cc8091;

}

.about {
    font-family: 微软雅黑;
    font-size: 24px;
    color: #000000;
    line-height: 40px;
    text-decoration: underline;
    font-variant: small-caps;
    text-transform: capitalize;

}

.about_p {
    font-size: 12px;
    color: #676767;
    font-family: 楷体;
    line-height: 10px;

}

.about_s {
    font-size: 116px;
    color: #75b86b;
    font-family: 微软雅黑;
    font-style: oblique;

}

.about_s1 {
    font-size: 55px;
    color: #cc8091;
    font-family: 微软雅黑;
    position: absolute;
    bottom: -10px;
    left: 0px;

}

.about_s2 {
    font-size: 21px;
    color: #cc8091;
    font-family: 微软雅黑;
    position: absolute;
    bottom: 10px;
    left: 85px;
}

.about_s3 {
    font-size: 12px;
    color: #cc8091;
    font-family: 微软雅黑;
    position: absolute;
    bottom: 0px;
    left: 85px;
}

.c_l {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 191px;
    height: 301px;
    background-color: green;
    opacity: 0.20;
}

.c_r {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 191px;
    height: 301px;
    background-color: red;
    opacity: 0.20;
}

.m_text {
    float: left;
    width: 893px;
    height: 282px;
    font-size: 12px;
    color: #231815;
    font-family: 微软雅黑;
    line-height: 16px;
    opacity: 0.70;
}

.m_text h1 {
    font-size: 16px;
    font-style: inherit;
    text-decoration: underline;
    padding-top: 40px;

}

.mt_l {
    width: 228px;
    float: left;
    margin-right: 28px;

}

.mt_l h1 {
    color: #418c59;
    cursor: pointer;
    padding-bottom: 10px;

}

.mt_m {
    width: 204px;
    float: left;

    margin-right: 28px;

}

.mt_m h1 {
    color: #d2994f;
    padding-bottom: 10px;
    cursor: pointer;
}

.mt_r {
    margin-right: 28px;
    float: left;
    width: 152px;

}

.mt_r ul {
    list-style: none;
    margin-top: 28px;
}

.mt_r h1 {
    color: #cc7680;
    padding-bottom: 10px;
    cursor: pointer;
}

.mt_r span {
    color: #cd4a48;
    font-style: oblique;
}

.bottom {
    width: 893px;
    height: 647px;
    margin: 0 auto;

}

.b_l {
    width: 415px;
    height: 647px;
    float: left;
}

.b_l_h {
    width: 415px;
    height: 180px;
}

.b_l_h p {
    font-size: 42px;
    color: #11456b;
    font-family: 黑体;
    line-height: 40px;
}

.b_l_h p span {
    font-size: 72px;
    color: #f5e327;
    font-style: oblique;
}

.b_l_h hr {
    height: 2px;
    width: 415px;
    margin-top: 16px;
    color: #11456b;
}

.b_l_t {
    width: 415px;
    height: 467px;

    position: relative;
}

.b_l_t img {
    width: 167px;
    height: 288px;
    margin: 20px 6px 20px 20px;
    float: right;
}

.b_l_t p {
    font-size: 12px;
    color: #767777;
    font-family: 宋体;
    line-height: 16px;
    text-indent: 2em;
}
.b_l_t .h{
    clear: both;
    text-indent: 0em;
}

.b_l_t .h:first-letter {
    font-size: 70px;
    line-height: 70px;
    float: left;
    color: #f5e327;
    font-family: 微软雅黑;
}

.b_r{
    width: 459px;
    height: 647px;
    float: right;
}

.b_r_logo{
    position: relative;
    height: 257px;

}
.t {
    width: 458px;
    height: 61px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;

}
.t p {
    color: #ffffff;
    font-size: 26px;
    font-family: 微软雅黑;
    line-height: 44px;
    border-left: 3px solid #72b16a;
    margin-left: 38px;
    margin-top: 8px;
    text-indent: 0.5em;
}
.t span {
    color: #72b16a;
    font-size: 12px;
    font-style: oblique;
    text-indent: 1.4em;
    margin-left: 5px;
}

.b_r_t{
    width: 459px;
    height: 318px;
    padding-top: 30px;
}
.b_r_t1{
    width: 459px;
    height: 157px;
}
.b_r_t2{
    width: 260px;
    height: 161px;
    float: left;
}
.b_r_t3{
    width: 199px;
    height: 161px;
    float: right;
}